/* 채팅창 빠른 질문 버튼 */
.chip {
  padding: 10px 14px;
  border: 1px solid #5EABA2;
  border-radius: 999px;
  background: #FBF5E9;
  color: #003651;
  cursor: pointer;
}

/* 내가 보낸 채팅 내용창 */
.chip.active {
  background: #FC7B54;
  color: #FBF5E9;
  border-color: #FC7B54;
}
