SERVICE_KEY1 = ""
SERVICE_KEY2 = "UdQiqjSqVkXSJ4hzbNa3DL1tgJyEqJQJLmqQN3IPzgyOK07n9R/5D+KinGz+AkUZxNy8JebQtWP+TG3vS2XyVg=="
SERVICE_KEY3 = "L+tc+wRhGVm81bYY85f7Y0yOgk52KcfFi/DrgCBIKxq9b3MXSRwzVpMS2jvMrgxI6WmVq1B92LPY4odZw7z9BQ=="
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASSWORD=root1234
DATABASE_NAME=skn_travel_db